@charset "UTF-8";

.error{
	color: red;
}

nav{
	width: 100%;
	display : flex;
	align-items : center;
	justify-content: space-around;
}

.liens-nav{
	width : 35% ;
	display: flex;
	justify-content: space-around;
}

body{
	background-color: black;
	color : white;

	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: arial;
}

footer{
	color: #e1bd29;
}

.jaune{
	color: #e1bd29;
}

.logo_enibay{
	width:180px;
	height: auto;
}

a{
	text-decoration: none;
	color: #e1bd29;
}

a:hover {
	color: grey;
}

article{
	border : 1px solid #e1bd29;
	border-radius: 10%;
	padding: 1em;
	margin-bottom : 2em;
	width: 20%;
}

article:hover{
	box-shadow : 3px 3px 3px #e1bd29;
	zoom: 120%;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.grid input{
	grid-column:2;
}

.grid label{
	grid-column:1;
}

.grid button{
	grid-row: 11;
}

<<<<<<< HEAD
.detail_vente {
	color: #e1bd29;
	font-weight: bold;
}

.navigation_filters {
	padding-bottom: 20px;
=======
form .select_filters{
	
	display: flex;
	flex-direction: column;
>>>>>>> branch 'main' of https://github.com/AlexisVes/ENI-Ench-res.git
}