@charset "UTF-8";

.error{
	color: red;
}

nav{
	display : flex;
	align-items : center;
}

body{
	background-color: black;
	color : white;
}

footer{
	color: #e1bd29;
}

.logo_enibay{
	width:180px;
	height: auto;
}
.enibay_link{
	text-decoration: none;
	color: #e1bd29;
}

.enibay_link:hover {
	color: grey;
}