@charset "UTF-8";


.error{
	color: red;
}

nav{
	width: 100%;
	display : flex;
	align-items : center;
	justify-content: space-around;
}

.liens-nav{
	width : 35% ;
	display: flex;
	justify-content: space-around;
}

body{
	background-color: black;
	color : white;

	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: arial;
}

footer{
	color: #e1bd29;
}

.jaune{
	color: #e1bd29;
}

.logo_enibay{
	width:180px;
	height: auto;
}

a{
	text-decoration: none;
	color: #e1bd29;
}

a:hover {
	color: grey;
}

article{
	border : 1px solid #e1bd29;
	border-radius: 10%;
	padding: 1em;
	margin: 2em;
}

article:hover{
	box-shadow : 3px 3px 3px #e1bd29;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.grid input{
	grid-column:2;
}

.grid label{
	grid-column:1;
}

.grid button{
	grid-row: 11;
}

.detail_vente {
	color: #e1bd29;
	font-weight: bold;
}

.navigation_filters {
	padding-bottom: 20px;
}


form .select_filters{
	display: flex;
	flex-direction: column;
}
.col {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}



@media screen and (max-width: 800px)
{
	.col 
	{
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 500px)
{
/* 	body{
		text-align: center;
	} */
	
	.col 
	{
		grid-template-columns: repeat(1, 1fr);
	}
	nav
	{
		display: flex;
		flex-direction: column;
	}
	.liens-nav 
	{
		flex-direction: column
	}
	
	.liens-nav a{
		margin-bottom: 1em;
	}

}

.user_table {
	border-collapse: collapse;
}

.admin-title {
	color: #e1bd29;
	padding-bottom: 20px;
}
.admin-heading {
	padding : 5px;
	background-color: #2F4F4F;
	color: white;
	font-weight: bold;
	text-align: center;
}
.heading-one {
	background-color: #DCDCDC;
	color: black;
}
.heading-two {
	background-color: #A9A9A9;
	color: black;
}
.admin-delete {
	background-color: red;
	color: white;
}
.delete-logo {
	height:40px;
	width: auto;
}
td {
	padding : 5px;
    border: 1px solid grey;;
}
.delete-td {
	text-align: center;
	background-color: #DCDCDC;
}
